daily-tech-digest.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "6519de3c-1f09-423d-a179-e206111f12a1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ace814fc-41b4-4824-9337-6bac11a69a38",
              "name": "rss",
              "value": "[\n  \"https://techcrunch.com/feed/\",\n  \"https://www.engadget.com/rss.xml\",\n  \"https://www.wired.com/feed/rss\",\n  \"https://www.theverge.com/rss/index.xml\"\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "f5c75d65-b4d0-4570-a3b3-8665455638c6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "rss",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "38b28b9e-8ab7-46dd-a118-027fc7ea1810",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $json.rss }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "d5031089-6b7a-48f9-802e-c28a1531eecb",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "contentSnippet"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "e6252f4c-ba7d-4d01-8bd1-886b70edbcaf",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "summarize news",
        "options": {
          "systemMessage": "=Only grab the news from past 24-hours.Act as a tech news aggregator and write a plan ,easy-to-understand,\nEnglish with no teach jargon. Here is the list of news: {{ $json.contentSnippet }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1040,
        0
      ],
      "id": "d94eecda-ea7c-4d01-ac46-ab37786b3d21",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        912,
        208
      ],
      "id": "796c5fdc-3564-4e3f-b30b-7191f2696709",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "e7CFPPKRqw2t5rd6",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1392,
        0
      ],
      "id": "0af669ae-fdf1-4569-92ab-44c0eb020b04",
      "name": "Markdown"
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@gmail.com",
        "subject": "Daily Tech Digest",
        "message": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1600,
        0
      ],
      "id": "faa4a4ef-9443-4b1d-9835-8847751cb5b6",
      "name": "Send a message",
      "webhookId": "0a79d89e-da35-4ea1-8197-7ca1acca19ee",
      "credentials": {
        "gmailOAuth2": {
          "id": "9vPvRNvIuzFTiUe5",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "49fe13e4-77f3-4112-b74c-e2d44ae66c29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e2905d6adea0e485c7cb6ebfff85d5913094c2856de367722fefbaf53dcf8ed0"
  },
  "id": "iwa1nnTzd0RFEgjAF1pHw",
  "tags": []
}
